<html>
    <head>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- Include file with the controller -->
        <script src="./todo-list.controller.js"></script>
        <style>
            .done {
                background-color: gray;
            }
        </style>
    </head>
    <body ng-app="todoListControllerDemo">
        <div class="container" ng-controller="TodoListController as todoVm">
            <div class="row">
                <h2>Todo List #{{todoVm.list.length}}</h2>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input id="input" type="text" placeholder="Type your task here..." ng-model="todoVm.itemText">
                    <input id="add-button" class="btn btn-default" type="button" value="Add" ng-click="todoVm.add(todoVm.itemText)">
                </div>
                <div ng-repeat="item in todoVm.list track by $index" class="col-xs-12">
                    <h4 ng-class="{done: item.done}">
                        <input type="checkbox" ng-model="item.done">
                        {{item.text}}
                        <input class="btn btn-default btn-xs" type="button" value="X" ng-click="todoVm.remove($index)">
                    </h4>
                </div>
            </div>
        </div>
    </body>

</html>
